<!-- Menu toggle -->
<!-- <a href="#menu" id="menuLink" class="menu-link"> --> <!-- using the top level menu for now -->
    <!-- Hamburger icon -->
 	<!-- <span></span>
</a> -->
<aside class="sidebar-left">
  

		<h1>
			<a href="{{ site.baseurl}}/">
      	{{site.sitename}}    	
    	</a>
    </h1>

    {{site.description}}
<hr />
    
		  {% include nav/navigation.html %}
  <hr />





<a href="https://www.facebook.com/pages/The-Lost-Chalice/36279809755" class="icon-facebook-squared">
  <span aria-hidden="true" data-icon="&#x25a8;"></span>
  <span class="screen-reader-text">Facebook</span>
</a>


<a href="https://twitter.com/vtsilver" class="icon-twitter-squared">
  <span aria-hidden="true" data-icon="&#x25a8;"></span>
  <span class="screen-reader-text">Twitter</span>
</a>


</aside>